Resultados/
ant/
bin/
emma/
lib/
libTarget/
libTargetOld/
libTargetPOI32/
Products/
Exemplos/
Project/
.classpath
.metadata/
temp/
test/
script.py
randoop/
plugin.xml
.project
.settings/
.svn/
Alloy/
META-INF/
A
br.ufpe.cin.target.perspective
build.properties
Execution*
limitacoesTestes.txt

junit*.properties

