Output/output.txt
Output/outputfile.ods
Resultados/
bin/
emma/
libTarget/
libTargetOld/
libTargetPOI32/
Products/
Exemplos/
Project/
.classpath
.metadata/
temp/
script.py
randoop/
.project
.settings/
.svn/
Alloy/
A
br.ufpe.cin.target.perspective
Execution*
limitacoesTestes.txt
junit*.properties
javaDoc/
resultFiles/*.properties


